<div ng-controller="EditSectionCtrl">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="editsectionctrl_name">Name</label>
            <div class="controls">
                <input type="text" id="editsectionctrl_name" placeholder="Name">
            </div>
        </div>
        
        <tabset>
            <tab heading="Prizes">Prize entry</tab>
            <tab heading="Stewards">Steward entry</tab>
            <tab heading="Sponsors">Sponsor entry</tab>
        </tabset>
        
        <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>
